body{
    background-color: paleturquoise
  }


.tênis {
    width: 300px!important;
    height:250px !important ;
}

.divtodotenis{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
